$forestGreen: rgb(0, 255, 84);
$cityAqua: rgb(0, 233, 233);
$skyBlue: rgb(0, 181, 255);
$deepPurple: rgb(164, 49, 230);
$islandOrange: rgb(255, 49, 0);
$beachOrange: rgb(255, 97, 0);

$primary: $cityAqua;

$bg1: rgba($primary, 0.6);
$bg2: rgba($primary, 0.8);
$bg3: rgba($primary, 0.4);

$textColor: White;

//$fontFamily: "Open Sans";
$fontFamily: "Roboto";

$panelRadius: 5px;

@use "sass:meta";

:root {
	--primary: #{$primary};

	--bg1: #{$bg1};
	--bg2: #{$bg2};
	--bg3: #{$bg3};
	--textColor: #{$textColor};

	--forestGreen: #{$forestGreen};
	--cityAqua: #{$cityAqua};
	--skyBlue: #{$skyBlue};
	--deepPurple: #{$deepPurple};
	--islandOrange: #{$islandOrange};
	--beachOrange	: #{$beachOrange};

	--panelRadius: #{$panelRadius};

	--fontFamily: #{meta.inspect($fontFamily)};
}
